.theme-text {
  color: #901b20 !important;
}
.theme-bg {
  background-color: #901b20 !important;
}
.theme-bgLight {
  background-color: #901b20;
}
.theme-border {
  border-color: #901b20 !important;
}
.theme-gradient {
  background-image: linear-gradient(to right, #ab4045, #901b20) !important;
}
.theme-text-gradient {
  background: -webkit-linear-gradient(#ab4045, #901b20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme-hover:hover {
  color: #901b20 !important;
}
.theme-border-hover:hover {
  border-color: #901b20 !important;
}
.btn-check:checked + .btn.btn-active-color-primary,
.btn-check:active + .btn.btn-active-color-primary,
.btn.btn-active-color-primary:focus:not(.btn-active),
.btn.btn-active-color-primary:hover:not(.btn-active),
.btn.btn-active-color-primary:active:not(.btn-active),
.btn.btn-active-color-primary.active,
.btn.btn-active-color-primary.show,
.show > .btn.btn-active-color-primary {
  color: #901b20 !important;
  border-color: #901b20 !important;
}
.btn-check:checked + .btn.btn-active-color-primary i,
.btn-check:checked + .btn.btn-active-color-primary .svg-icon,
.btn-check:active + .btn.btn-active-color-primary i,
.btn-check:active + .btn.btn-active-color-primary .svg-icon,
.btn.btn-active-color-primary:focus:not(.btn-active) i,
.btn.btn-active-color-primary:focus:not(.btn-active) .svg-icon,
.btn.btn-active-color-primary:hover:not(.btn-active) i,
.btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon,
.btn.btn-active-color-primary:active:not(.btn-active) i,
.btn.btn-active-color-primary:active:not(.btn-active) .svg-icon,
.btn.btn-active-color-primary.active i,
.btn.btn-active-color-primary.active .svg-icon,
.btn.btn-active-color-primary.show i,
.btn.btn-active-color-primary.show .svg-icon,
.show > .btn.btn-active-color-primary i,
.show > .btn.btn-active-color-primary .svg-icon {
  color: #901b20 !important;
}
.btn.btn-active-color-primary.active {
  border-bottom: 2px solid #901b20 !important;
}
.btn-active-color-primary:hover {
  border: 0 !important;
}
.upperDiv {
  background-color: #5c5c5c;
}
.myCarousel .list-group .active,
.myCarousel .list-group .active h4 {
  background-color: #901b20;
}
.bg-green1 {
  background-color: #313131;
}
.login-page .btn.btn-primary {
  color: #ffffff;
  border-color: #901b20;
  background-color: #901b20;
}
.login-page .btn-check:checked + .login-page .btn.btn-primary, .login-page .btn-check:active + .login-page .btn.btn-primary, .login-page .btn.btn-primary:focus:not(.btn-active), .login-page .btn.btn-primary:hover:not(.btn-active), .login-page .btn.btn-primary:active:not(.btn-active), .login-page .btn.btn-primary.active, .login-page .btn.btn-primary.show, .show > .btn.btn-primary {
  color: #ffffff;
  border-color: #901b20;
  background-color: #901b20 !important;
}
.login-page a {
  color: #901b20 !important;
}
